.clients {
	padding: 55px 0;
	background-color: var(--co-grey);
}


.clients__content {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.clients__img {
	width: 145px;
	height: 50px;
	object-fit: contain;
}